<html>
    <head>

    </head>

    <body>
        <form action="/add" method="POST">
            <table border="1">
                <tr>
                    <td> Enter the ticket no </td>
                    <td> <input type="text" name="tno"/></td>
                </tr>

                <tr>
                    <td> Enter the passenger name </td>
                    <td> <input type="text" name="tname"/> </td>
                </tr>

                <tr>
                    <td> Enter the date of journey </td>
                    <td> <input type="text" name="tstart"/> </td>
                </tr>
                <tr>
                    <td> Enter the date of return </td>
                    <td> <input type="text" name="tend"/> </td>
                </tr>
                <tr>
                    <td> Enter the no of co-passengers </td>
                    <td> <input type="text" name="tpass"/> </td>
                </tr>
                <tr>
                    <td><input type="submit" value="submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>