<html>
    <body align="center">
        <form action="/update" method="POST">
            <table align="center">
                <tr>
                    <td> Enter the field to update </td>
                    <td> <input type="text" name="tfield"/></td>
                </tr>

                <tr>
                    <td> Enter the old value </td>
                    <td><input type="text" name="oldvalue"/></td>
                </tr>

                <tr>
                    <td> Enter the new value </td>
                    <td><input type="text" name="newvalue"/></td>
                </tr>

                <tr>
                   <td>
                    <input type="submit" value="submit"/>
                   </td> 
                </tr>
            </table>
        </form>
    </body>
</html>